html {
  line-height: unset;
}

h1, h4 {
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-family: 'Hind', 'Helvetica', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  font-family: 'Montserrat', 'Verdana', sans-serif;
  font-size: 2rem;
  font-weight: 200;

  .bold {
    font-weight: 500;
  }
}