h1, h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 0;
}

h1, h2, h3 {
  font-family: 'Hind', 'Helvetica', sans-serif;
  font-weight: 700;
}

h4, p {
  font-family: 'Montserrat', 'Verdana', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.125rem;
}

h4 {
  font-size: 2rem;
}

p, a {
  font-size: 1.125rem;
}

/* Typography Utility Classes */
.fnt-lead {
  font-family: 'Hind', 'Helvetica', sans-serif;
  font-weight: 700;
} 

.fnt-main {
  font-family: 'Montserrat', 'Verdana', sans-serif;
  font-weight: 400;
}

.fnt-s {
  font-size: 1.125rem;
}

.fnt-m {
  font-size: 2rem;
}

.fnt-l {
  font-size: 2.125rem;
}

.fnt-xl {
  font-size: 4rem;
}

.fnt-xxl {
  font-size: 5rem;
}